@import "tailwindcss";

/* @theme {
    --color-background: 
} */

@font-face {
    font-family: "Poppins Light";
    src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins Medium";
    src: url(/fonts/Poppins-Medium.ttf);
}

body {
    font-family: "Poppins Light";
}

#root {
    position: relative;
    overflow: hidden;
}

/* === HEADER === */

h2, h3, h4 {
    font-family: "Poppins Medium";
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    header a, footer a {
        position: relative;
    }
    header a:after, footer a:after {
        content: "";
        height: 1px;
        width: 0%;
        background-color: black;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: width .2s ease;
    }
    header a:hover:after, footer a:hover:after {
        width: 100%;
    }
}


/* === BUTTON === */

button {
    position: relative;
    overflow: hidden;
}
button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    opacity: .3;
    transform: rotate(10deg);
    background-color: white;
    left: -50%;
    top: 0;
    transition: left .3s ease;
}
button:hover:after {
    left: 100%;
}

/* === FORM === */

input, select, textarea {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
}