@import "tailwindcss";

@font-face {
    font-family: "Poppins Light";
    src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins Medium";
    src: url(/fonts/Poppins-Medium.ttf);
}

body {
    font-family: "Poppins Light";
}

h2, h3 {
    font-family: "Poppins Medium";
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.2rem;
}