@import "tailwindcss";

@theme {
    --color-background: #FFF7F1;
    --color-recipe-green: #095C2B;
    --color-recipe-light-green: #53ae78;
    --color-recipe-brown: #3F1F1F;
    --color-recipe-orange: #FC4408;
    --color-recipe-pink: #e67652;
    --color-recipe-yellow: #e3890e;
}

@font-face {
    font-family: "Playfair Italic";
    src: url(/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Chivo";
    src: url(/fonts/Chivo-VariableFont_wght.ttf);
}

body {
    font-family: "Chivo";
    font-weight: 100;
    background-color: #FFF7F1;
    font-size: 1.2rem;
}

#root {
    position: relative;
    overflow: hidden;
}

/* === HEADER === */

h1, nav a, .teaser h3 {
    text-shadow: #743939 0px 0px 5px;
}

h1 span, h2 span, h3 span {
    font-family: "Playfair Italic";
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    header a, footer a {
        position: relative;
    }
    header a:after, footer a:after {
        content: "";
        height: 1px;
        width: 0%;
        background-color: white;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: width .2s ease;
    }
    header a:hover:after, footer a:hover:after {
        width: 100%;
    }
}


/* === BUTTON === */

button {
    position: relative;
    overflow: hidden;
}
button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    opacity: .3;
    transform: rotate(10deg);
    background-color: white;
    left: -50%;
    top: 0;
    transition: left .4s ease;
}
button:hover:after {
    left: 110%;
}

/* === FORM === */

input, select, textarea {
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid #F4A11C;
}

/* === TEASER === */

.teaser:hover .description {
    opacity: 1;
}
.teaser:hover div div {
    opacity: .7;
}
.description, .teaser:hover h3 {
    opacity: 0;
}